body {
  color: #83B692;
  background: rgba(84,115,148,1);
  background: -moz-linear-gradient(top, rgba(84,115,148,1) 0%, rgba(29,40,51,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,115,148,1)), color-stop(100%, rgba(29,40,51,1)));
  background: -webkit-linear-gradient(top, rgba(84,115,148,1) 0%, rgba(29,40,51,1) 100%);
  background: -o-linear-gradient(top, rgba(84,115,148,1) 0%, rgba(29,40,51,1) 100%);
  background: -ms-linear-gradient(top, rgba(84,115,148,1) 0%, rgba(29,40,51,1) 100%);
  background: linear-gradient(to bottom, rgba(84,115,148,1) 0%, rgba(29,40,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#547394', endColorstr='#1d2833', GradientType=0 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box {
  background-color: #fff;
  height: 15em;
}

@media (min-width:768px) {
  h1 {
    font-size: 3.5em;
  }
}

.ui.grid {
  margin-top: 0;
}